<strong>Olá, {{ student }}</strong>
<p>Sua matrícula na Gympoint foi realiza.</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br/>
  <Strong>Data de Ínicio: </Strong> {{ dateStart }} <br/>
  <Strong>Data de Encerramento: </Strong> {{ dateEnd }} <br/>
  <Strong>Valor total: </Strong> {{ price }} <br/>
  <br/>
  <small>
    Você poderá realizar 5 entradas nas academias Gympoint por semana.<br/>
    Isso significa que a cada 7 dias, são permitidos somente 5 'Chekins' nesse período.
  </small>
</p>
